In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [26]:
df=pd.read_csv("tips.csv")

In [27]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [30]:
#chi dquar etest applicapble to categorical data

df[["sex","smoker"]]

        sex smoker
0    Female     No
1      Male     No
2      Male     No
3      Male     No
4    Female     No
..      ...    ...
239    Male     No
240  Female    Yes
241    Male    Yes
242    Male     No
243  Female     No

[244 rows x 2 columns]

In [31]:
dataset_table=pd.crosstab(df["sex"],df["smoker"])

In [32]:
dataset_table

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [33]:
df_array=dataset_table.values

In [34]:
observed_value=df_array

In [41]:
stats_test,p,dof,Expected_value=stats.chi2_contingency(df_array)

In [42]:
stats_test

0.0

In [43]:
p

1.0

In [44]:
dof

1

In [45]:
Expected_value

array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]])

In [46]:
no_of_col=dataset_table.iloc[0:2,0]

In [47]:
len(no_of_col)

2

In [48]:
no_of_row=dataset_table.iloc[0,0:2]

In [50]:
len(no_of_row)

2

In [51]:
dof=(len(no_of_col)-1)*(len(no_of_row)-1)

In [52]:
dof

1

![Alt text](https://miro.medium.com/v2/resize:fit:2832/0*wcKXWLeiTZB_9RZW)

In [54]:
for o,e in zip(observed_value,Expected_value):
    print(o,e)

[54 33] [53.84016393 33.15983607]
[97 60] [97.15983607 59.84016393]

In [56]:
from scipy.stats import chi2
chisquare=sum([(o-e)**2/e for o,e in zip(observed_value,Expected_value)])

In [57]:
chisquare

array([0.00073745, 0.00119737])

In [58]:
chisquarestats=chisquare[0]+chisquare[1]

In [59]:
chisquarestats

0.001934818536627623

In [60]:
alpha=0.5
Ci=0.95

In [62]:
critical_chi_value=chi2.ppf(Ci,df=dof)

In [63]:
critical_chi_value

3.841458820694124

In [65]:
if chisquarestats>=critical_chi_value:
    print(" reject the null hyphothesis, there is a relatiuonship between two categorical variable")
else:
    print("accept the null hyphothesis there is no relation between two categorical variable")

accept the null hyphothesis there is no relation between two categorical variable